:root {
    --green: #80aa5b;
    --semiblack: #1b1f23;
    --sblack: #38434f;
}
body{
    background-color: #0f1011;
}
h1{
    color: #f9f9f9;
    text-align: center;
}
.container-form {
    background-color: var(--semiblack); 
    padding: 20px; 
    margin: 20px auto; 
    max-width: 800px; 
    border-radius: 8px; 
}
.input-field {
    margin-bottom: 15px; 
}

.input-field label {
    display: block; 
    margin-bottom: 5px; 
    color: #f9f9f9;
}

.input-field input,
.input-field select,
.input-field textarea {
    width: 100%;
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #f9f9f9; 
    color: #333;
    resize: none;
}
.btn-field {
    text-align: center;
}
.btn-field button {
    background-color: var(--green);
    color: white;
    padding: 10px 20px; 
    border: none;
    border-radius: 5em; 
    cursor: pointer; 
}

.btn-field button:hover {
    background-color: #79985e;
}

.error {
    color: #f00; 
}