@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
    --green: #80aa5b;
    --semiblack: #1b1f23;
    --sblack: #38434f;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
.container {
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 0rem 3rem;
    box-shadow: 0 1rem var(--green);
}

.navbar {
    background-color: var(--semiblack);
    padding: 1rem 0rem;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}

.navbar .logo-site {
    width: fit-content;
    height: 40px;
    overflow: hidden;
}

.navbar .logo-site .logo-link {
    width: fit-content;
    height: 40px;
    overflow: hidden;
}

.navbar .logo-site .logo-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar .navigation {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navbar .navigation .btn-register {

    padding: 0.5rem 2.3rem;
    font-size: 0.9rem;
    line-height: 1rem;
    background-color: #f5f3f3;
    color: #555;
    font-weight: 500;
    border-radius: 1.8rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 1s;

}

.navbar .navigation .btn-register:hover {
    background-color: var(--green);
    color: #fff;

}

.navbar .navigation .btn-login {
    padding: 0.5rem 2.3rem;
    font-size: 0.9rem;
    line-height: 1rem;
    color: #fff;
    background-color: var(--green);
    border-radius: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 1s;
}

.navbar .navigation .btn-login:hover {
    color: #fff;
    background-color: #79985e;
}