@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
    --green: #80aa5b;
    --semiblack: #1b1f23;
    --sblack: #38434f;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
.container-register{
    width: 100%;
    height: 90vh;
    background-color: transparent;    
}
.form-content{
    width: 100%;
    max-width: 500px;
    background-color:var(--semiblack);
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}
.form-content h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #FFFFFF;
    position: relative;
}
.form-content h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: var(--green);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.input-field{
    background-color: #515966;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #FFFFFF;
}
input::placeholder{
    color: #FFFFFF;
}
.input-field i{
    margin-left: 15px;
    color: var(--green);
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis: 48%;
    font-size: 16px;
    background-color: var(--green);
    color: #FFFFFF;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.input-group{
    height: 250px;
}
.btn-field button.disable{
    background-color: #EAEAEA;
    color: #2c2f35 ;
}
.home {
    background: url(/Images/MatchMyJob.png) no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    background-color: #000;
    padding: 3rem 0rem;
    padding-bottom: 0rem;
    width: 100%;
    overflow: hidden;
}

.home .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.home .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.home .items .item {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.home .items .item .content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0rem;
    padding: 0rem 1rem;
}

.home .items .item .content h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 400;
    color: #ffffffa1;
    max-width: 550px;
    padding-bottom: 0.75rem;
}

.home .item form {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    width: 100%;
    max-width: 450px;
    padding: 0rem 0rem;
    padding-top: 1rem;
}

.home .items .item .line {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home .items .item .line label {
    font-size: 1rem;
    line-height: 1rem;
    color: #fff;
    font-weight: 300;
}

.home .items .item .line .field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #000;
}

.home .items .item .line .field .input {
    width: 100%;
    padding: 0.75rem 0.5rem;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    background: var(--sblack);
    color: var(--green);
    border: none;
    outline: none;
}

.home .items .item .line .field span {
    background: var(--sblack);
    padding: 0.75rem 0.5rem;
    font-size: 0.7rem;
    line-height: 1.56rem;
    color: var(--green);
}

.home .item .forgot {
    font-size: 1rem;
    line-height: 1.3rem;
    color: #fff;
    font-weight: 300;
    width: 100%;
    max-width: 350px;
    margin-top: -1rem;
}

.home .item .btn-login {
    background-color: var(--green);
    padding: 1rem 0rem;
    outline: none;
    border: none;
    border-radius: 1.8rem;
    font-size: 1.1rem;
    line-height: 1.1rem;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    width: 100%;
    max-width: 450px;
    cursor: pointer;
    transition: all 1s;
}

.home .item .btn-login:hover {
    background-color: #79985e;
}


@media (max-width:768px){
    .navbar .logo-site {
        height: 50px;
        overflow: hidden;
    }

    .navbar .logo-site .logo-link {
        height: 50px;
        overflow: hidden;
    }

    .navbar .logo-site .logo-link img {
        height: 50px;
        object-fit: cover;
    }

    .navbar .navigation .btn-register {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
        line-height: 1rem;

    }

    .navbar .navigation .btn-login {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
        line-height: 1rem;
    }
    .home {
        background: url(/Images/MatchTablet.png) no-repeat;
        background-size:cover;
        background-position: 50%;
       
    }
    footer{
        background: var(--semiblack);
        }
}

@media (max-width:550px) {
    .navbar .logo-site {
        height: 20px;
        overflow: hidden;
    }

    .navbar .logo-site .logo-link {
        height: 20px;
        overflow: hidden;
    }

    .navbar .logo-site .logo-link img {
        height: 20px;
        object-fit: cover;
    }

    .navbar .navigation .btn-register {
        padding: 0.5rem 1.2rem;
        font-size: 0.7rem;
        line-height: 0.7rem;

    }

    .navbar .navigation .btn-login {
        padding: 0.5rem 1.2rem;
        font-size: 0.7rem;
        line-height: 0.7rem;
    }
    footer{
        background: var(--semiblack);
        }
}
@media (max-width:450px) {
    html{
        font-size: 45%;
    }
    .heading{
     font-size: 3rem;
 
    }
    .navbar .logo-site {
        height: 30px;
        overflow: hidden;
    }

    .navbar .logo-site .logo-link {
        height: 30px;
        overflow: hidden;
    }

    .navbar .logo-site .logo-link img {
        height: 30px;
        object-fit: cover;
    }

    .navbar .navigation .btn-register {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        line-height: 1.5rem;

    }

    .navbar .navigation .btn-login {
        padding: 1rem 2rem;
        font-size:1.5rem;
        line-height: 1.5rem;
    }
    .home {
        background: url(/Images/MatchCelu.png) no-repeat;
        background-size:cover;
        background-position: 50%;
       
    }
    .icon {
        margin-left: 10px;
        cursor: pointer;
    }
    .error {
        color: red;
        font-size: 14px;
    }
    .home .items .item .content h1 {
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 400;
        color: #fff;
        max-width: 550px;
        padding-bottom: 0.75rem;
    }
    .home .items .item .line label {
        font-size: 2rem;
        line-height: 2rem;
        color: #fff;
    }
    .home .item .forgot {
        font-size: 2rem;
        line-height: 1.7rem;
        color: #fff;
    }
    .home .item .btn-login {
        background-color: var(--green);
        padding: 1rem 0rem;
        outline: none;
        border: none;
        border-radius: 3rem;
        font-size: 2rem;
        line-height: 2rem;
        color: #fff;
        text-transform: capitalize;
        font-weight: 600;
        width: 100%;
        max-width: 450px;
        cursor: pointer;
        transition: all 1s;
    }
    .home .items .item .line .field .input {
        width: 100%;
        padding: 2rem 2rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 800;
        background: var(--sblack);
        color: var(--green);
        border: none;
        outline: none;
    }
    .home .items .item .line .field span {
        background: var(--sblack);
        padding: 2rem 1rem;
        font-size: 1rem;
        line-height: 2.2rem;
        color: var(--green);
    }
    footer{
        background: var(--semiblack);
        }
    .footer .fbox-container .fbox{
        text-align: center;
        flex: 1 1 1rem;
    }
    .footer .credit{
        background: var(--semiblack);
        text-align: center;
        font-size: 2.3rem;
        color: #fff;
    }
}