:root {
    --green: #80aa5b;
    --semiblack: #1b1f23;
}

.search-filter {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 10px;
    background-color: #000;
}
.search-filter ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #fff;
}

.search-filter > ul > li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}
.search-filter > ul > li:hover {
    background-color:var(--green);
}
.dropdown-list {
    display: none;
    list-style-type: none;
    padding-left: 20px;
    margin-top: 5px;
    background-color: var(--semiblack);
    position: absolute;
    left: 0;
    top: 100%;
    width: calc(100% - 20px);
    z-index: 1;
}
.dropdown-list li {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.dropdown-list li:hover {
    background-color: var(--green);
}